@page
@{
    ViewData["Title"] = "Reset password";
}
<div style="width: 100%; text-align: center; margin-top: 50px;">
    <h1>@ViewData["Title"]</h1>
    <h4>Your password has been reset.</h4>
    <hr />
    Your password has been reset.  Click <a href="/dashboard">here</a> to login.
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</div>


